/*
selector{
    property : value;
}
Selectors:
    Tags: p, div, h1, main,a,..
    Class : .demo, .header, .boy
    id : #container, #footer

    property: color, background-color

    value: red, orange

*/

/* thuộc tính color*/

p {
    /*color: value;
    
    named: red, blue,..
    hexa: #ffa400, #ff7870 #666666 co the viet thanh #666 
    #7cd7cd -> #7cd
    
    rgb: rgb(0,0,0), rgb(255,255,255)
    muon co do mo
    rgba 
    alpha: opacity 0 ->1
    rgba(0,0,0,0.5*/
    color: red;
    color: #ffa400;
    color: rgb(0,0,0);
    color: rgba(0,0,0,0.5);

}