*{
    box-sizing: border-box;/*set háº¿t selector*/
}
.boxed{
    width: 100px;
    height: 100px;
    border: 5px solid orange;
    padding: 10px;
    background-color: rgb(0, 161, 248);
    /* box-sizing: content-box;
    box-sizing: border-box ; */
}