body{
    margin: 0px;
}
a{
    color: #000;
    background-color: aqua;
    width: 100px;
    height: 100px;
    padding: 10px;
    text-decoration: none;
    display: block;

}
.text{
    max-width: 300px;
    font-family: 'Poppins', sans-serif;
    /* sans-serif là chữ ko có gạch chân, serif là chữ có gạch chân*/
    font-size: 20px;

    font-weight: 300;/* độ đậm nhạt*/

    font-style: italic;

    line-height: 1.5;/*mặc định là 1, khoảng cách giữa các dòng- giãn dòng*/

    text-align: center;/* mặc định là left- căn lề*/

    text-align: justify;/*căn đều 2 bên*/

    letter-spacing: 1px;/*khoảng cách giữa các ksi tự*/

    word-spacing: 2px ;/*khoảng cáhc giữa các từ*/

    white-space:nowrap; /*không rớt xuống hàng, xuất hiện scrollbar*/

    overflow: hidden;/*text dài quá thì nó ẩn đi*/
    text-overflow: ellipsis;/*xuất hiện dấu 3 chấm*/



}
.text2{
    
}