html{
    margin: 0;
}
/*navbar*/
.nav{
    min-height: 42px;
    background-color: rgb(255, 155, 61);
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

}
.nav-list{
    padding-left: 0;
    margin: auto 16px;
}
.nav-item{
    color:aliceblue;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

/*Form layout*/
.form-container{
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}
.form__row{
    padding: 8px 0;
    display: flex;
}
.form__label{

}
.form__input{
    
}