html{
    font-size: 62.5%;
    background-color: rgb(233, 132, 166);
}
.birthday{
    width: 45rem;
    height: 55rem;
    background-color: rgb(255, 255, 255);
    margin: 40px auto;
    border-radius: 2%;
    box-shadow: 20px 16px 17px 5px rgb(219, 83, 128) ;


}
.title{
     text-align: center;
     padding-top: 20px;
}
.title img{
    width:30px;
    height:30px;
    
}
.title h2{
    font-size: 25px;
    display: inline-block;
    font-weight: 600;
    font-family: 'Besley', serif;;
}
.info{
    margin-top: 5px;
    width: 35rem;
    height: 40rem;
   
}
.inf{
    width: 35rem;
    height:5rem;
    margin-top: 10px;
    padding-left: 60px;
    padding-top: 10px;

}
.info-img{
    width: 5rem;
    height:5rem;
    padding: 5px 5px;
    float:left;

}
.info-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.info-name{

    font-size:17px;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
    width:30rem;
    height: 5rem;
    padding-top:10px;
}
.info-name h3 {
    font-weight: bold;
    color:#f715604d;
}
.button{
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 30rem;
    height: 5rem;
    background-color: hotpink;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    box-shadow:  7px 14px 13px 6px palevioletred;
    cursor: pointer;
}
.button:hover{
    box-shadow:0 0;

}

